// _layout.scss


/************************************************************************************************/
/* Override defaults */

.nav-primary {
  position: relative;
  z-index: 0; }

.admin-bar .nav-primary {
	top: 0; }
	
.primary-nav .site-header {
	padding-top: 0px;
}

.site-header {
	.wrap {
		border: 0;}}
		
.content .home-bottom .featured-content .entry {
	border-bottom: 0; }

.sidebar .featured-content .entry {
	border-bottom: 0; }		

.archive .content .entry,
.home .content .entry,
.page-template-page_blog-php .content .entry {
	border-bottom: 0;
}

.featured-content	.entry img {
	float: left;}
	
/************************************************************************************************/
/* Susy */

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of "site-width" */
  container: $site-width,
  /* Tells Susy to use border-box */
/*  global-box-sizing: border-box ,*/
  /* default to no gutter aka. kloss an */ 
  gutters: 0
  );

/* Makes border-box properties */
/*@include border-box-sizing;*/

.site-inner, 
.site-header .wrap,
.nav-primary .wrap,
.footer-widgets .wrap {
  @include container; }





/************************************************************************************************/
/* Box model */


.home-latest,
.home-featured .entry,
.home-second-row .entry,
.home-middle .widget,
.category-wrapper	.category-utbildning,
.category-wrapper .category-bidrag,
.category-wrapper .category-education,
.category-wrapper .category-grants {

	@media only screen and (min-width: 640px) {
		height: $box-height;
	}
	
	@media only screen and (max-width: 639px) {
		height: auto;
	}	
	
}	
	
.category-wrapper	.category-seminars,
.category-wrapper	.category-seminarier {

	@media only screen and (min-width: 640px) {
		height: $seminar-box-height;
	}
	
	@media only screen and (max-width: 639px) {
		height: auto;
	}	
	
}

.home-second-row img,
.home-featured img,
.home-second-row .img-wrapper,
.home-featured .img-wrapper,
.home-news img,
aside img {

	@media only screen and (max-width: 639px) {
		display: none;
	}	

}
			


/************************************************************************************************/
/* Content ie. not header, sidebar, footer */
.content {

	
/*	@media only screen and (max-width: 1139px) { }	
	
	@media only screen and (max-width: 1023px) { }

	@media only screen and (max-width: 768px) { }

	@media only screen and (max-width: 480px) { }*/
	

	@media only screen and (min-width: 1024px) {
	  @include span(9); 
	}
	@media only screen and (max-width: 1023px) and (min-width: 640px) {	
	  @include span(12); 
	}
	
	@media only screen and (min-width: 640px) {
	
		.home-latest {
			@include span(3 of 9); }
	
		.home-featured {
			@include span(6 of 9 last); 
			.post {
				@include span(3 of 6);}}
	
		.home-second-row {
			@include span(9 of 9); 
			.post {
				@include span(3 of 9);}}
	
		.home-middle {
			@include span(9 of 9);
			.widget {
				@include span(3 of 9);}}
	
		.home-news, 
		.archive-wrapper {
			@include span(9 of 9);
			.post {
			 	@include span(9 of 9);}}

		.news-area {
			@include span(9);
			.post {
			 	@include span(9 of 9);}}

		.pagination {
			@include span(9 of 9);}

		.category-wrapper {
			@include span(9 of 9);			

			.category-utbildning,
			.category-education,
			.category-seminars,
			.category-seminarier {
				@include span(6 of 9);}	

			.category-bidrag,
			.category-grants {
				@include span(3 of 9);}}

	} 
	
	
	
	/* mobile */
	@media only screen and (max-width: 639px)  {
	}	  

} 


/************************************************************************************************/
/* Single wrapper */

.single-wrapper {
	
	@media only screen and (max-width: 768px) {

		.wp-caption.alignnone {
			margin: .4em 0 $img-padding/2 0;}


		.entry-content {
			img.featured-image {
				max-width: 720px;
				margin-left: 0;}
			p,
			h2, h3, h4,
			ul, ol,
			blockquote {
				padding: $single-paragraph-padding-mobile;}}


		.entry-header h1.entry-title,
		.entry-meta,
		.entry-footer,
		.entry-comments,
		.comment-respond {
			padding: $single-paragraph-padding-mobile;}		


	}
	
}



/************************************************************************************************/
/* Sidebar */

.sidebar {



	@media only screen and (min-width: 1024px) {

	  @include span(3 last); 
	  @include prefix($box-gutter); 
	  
	  aside {
	  	@include span(3 of 3);
	  }
	  
	}

	@media only screen and (max-width: 1023px) and (min-width: 640px) {
	
  	@include span(12); 

	  aside {
	  	@include span(4 of 12);
			@include gutters($box-gutter);

	  }  	
  	
	}

	@media only screen and (max-width: 639px)  {


	}

}



/************************************************************************************************/
/* Header */
  
  
.site-header .wrap {

	position: relative;

/*	.title-area,
	.header-widget-area,
	.logo-area {
		border: 1px solid red;}*/


	.title-area {
		@include span(8 of 12);}
			
			
	.header-widget-area {
		.widget{
			@include span(100%);
			clear: both;
			.widget-wrap{
				float: right;}}}

	.logo-area {
	  position: absolute;
	  right: 0;
	  top: 0;
		text-align: right;
		z-index: 999;
		width: span(4);
		#switch-language {
			@include span(55%);}
		#text-12 {
			@include span(40%);}
		
		}

	@media only screen and (max-width: 768px)  {

		.title-area a {
			min-height: 60px;
			background-size: 190px 45px!important;}

		.logo-area {
			padding: 0;
			img {
				width: 63px;
				height: 64px;}}

	}

	@media only screen and (max-width: 639px)  {
	
		.logo-area {
			#switch-language {
				display: none;}}
				
	}
	
}

/************************************************************************************************/
/* Navigation */

.nav-primary {

	color: $c-black;

	@media only screen and (max-width: 768px) {
	
		.genesis-nav-menu > .right {
			float: none;}

	}

}
  
  
/************************************************************************************************/
/* Footer */  

.footer-widgets .wrap {
	
	.widget-area {
		@include span(4 of 12);
	}
	
	
}
  
/************************************************************************************************/
/* Inside category boxes */  
  
.category-wrapper .category-seminars,
.category-wrapper .category-seminarier {
	position: relative;
	.entry-header {
		@include span(100%);
		.entry-title {
			@include span(83% last);}
	}
	.entry-content,
	.entry-details,
	.entry-link {
	 	@include span(83% last);}
	.entry-startdate {
		@include span(16% first);
		position: absolute;
		left: 3%;}
}

.category-wrapper .category-bidrag,
.category-wrapper .category-grants {
	position: relative;
	.entry-header {
		@include span(100%);
		.entry-title {
			@include span(80% last);}
	}
	.entry-content,
	.entry-details,
	.entry-link {
	 	@include span(80% last);}
	.entry-startdate {
		@include span(19% first);
		position: absolute;
		left: 3%;}
}



  
/************************************************************************************************/
/* More layout */


#{$image-boxes} {
	.entry-header {
	clear: both; }}

.site-inner::after {
	clear: both;}

.archive-wrapper,
.home-news,
.news-area {
	margin-bottom: 5em;}
	
.category-intro-text {
	margin-bottom: $box-gutter;}
	
	


