// _layout.scss


/* Override defaults */

.nav-primary {
  position: relative;
  z-index: 0; }

.admin-bar .nav-primary {
	top: 0; }
	
.primary-nav .site-header {
	padding-top: 0px;
}

.site-header {
	.wrap {
		border: 0;}}
		
.content .home-bottom .featured-content .entry {
	border-bottom: 0; }

.sidebar .featured-content .entry {
	border-bottom: 0; }		

.archive .content .entry,
.home .content .entry,
.page-template-page_blog-php .content .entry {
	border-bottom: 0;
}

.featured-content	.entry img {
	float: left;}
	



/* Susy */

$susy: (
  /* Tells Susy to use 8 columns */
  columns: 8,
  /* Tells Susy that the container has a max-width of 1120px */
  container: $site-width,
  /* Tells Susy to use border-box */
/*  global-box-sizing: border-box ,*/
  /* default to no gutter aka. kloss an */ 
  gutters: 0
  );

/* Makes border-box properties */
/*@include border-box-sizing;*/

.site-inner, 
.site-header .wrap,
.nav-primary .wrap,
.footer-widgets .wrap {
  @include container; }

.content { /* main col */

	
/*	@media only screen and (max-width: 1139px) { }	
	
	@media only screen and (max-width: 1023px) { }

	@media only screen and (max-width: 768px) { }

	@media only screen and (max-width: 480px) { }*/
	
	
	/* 6+2 col layout at 1024px and larger */
	@media only screen and (min-width: 1024px) {

	  @include span(6); 
	
		/* front page */
		.home-latest {
			@include span(2 of 6); }
	
		.home-featured {
			@include span(4 of 6 last); 
			.post {
				@include span(2 of 4);}}
	
		.home-second-row {
			@include span(6 of 6); 
			.post {
				@include span(2 of 6);}}
	
		.home-middle {
			@include span(6 of 6);
			.widget {
				@include span(2 of 6);}}
	
		.home-news, 
		.archive-wrapper {
			@include span(6 of 6);
			.post {
			 	@include span(6 of 6);}}

		/* common */
		.pagination {
			@include span(6 of 6);}

		/* category pages */
		.category-wrapper {
			@include span(6 of 6);			

			.category-utbildning,
			.category-education,
			.category-seminars,
			.category-seminarier {
				@include span(3 of 6);}	

			.category-bidrag,
			.category-grants {
				@include span(2 of 6);}	

			
		}


	} 
	
	/* 6 col layout at 1023px to 640px */
	@media only screen and (max-width: 1023px) and (min-width: 640px) {
	
	  @include span(8); 
	
		/* front page */
		.home-latest {
			@include span(2 of 6); }
	
		.home-featured {
			@include span(4 of 6 last); 
			.post {
				@include span(2 of 4);}}
	
		.home-second-row {
			@include span(6 of 6); 
			.post {
				@include span(2 of 6);}}
	
		.home-middle {
			@include span(6 of 6);
			.widget {
				@include span(2 of 6);}}
	
		.home-top .post { /* borde verkligen vara home-bottom! */
			@include span(6 of 6);}

	}
	
	
	/* landscape on iphone */
	@media only screen and (max-width: 639px) and (min-width: 480px) {

	}	

} /* .content end */


.news-area {
	@include span(6);
	.post {
	 	@include span(6 of 6);}}


.sidebar { /*right col*/

	@media only screen and (min-width: 1024px) {
	  @include span(2 last); 
	  @include prefix($box-gutter); 
	}

	@media only screen and (max-width: 1023px) {
  	@include span(8); 
	}

}
  
  
.site-header .wrap {
  	
	.title-area {
		@include span(4 of 8);}

	.header-widget-area {
		@include span(3 of 8);
		.widget{
			@include span(100%);
			clear: both;
			.widget-wrap{
				float: right;}}}

	.logo-area {
		min-width: 147px;
		@include span(1 of 8 last);}
	
}
  
  
/* layout inside category box = all screen sizes */  
.category-wrapper .category-seminars,
.category-wrapper .category-seminarier {
	position: relative;
	.entry-header {
		@include span(100%);
		.entry-title {
			@include span(83% last);}
	}
	.entry-content,
	.entry-details,
	.entry-link {
	 	@include span(83% last);}
	.entry-startdate {
		@include span(16% first);
		position: absolute;
		left: 3%;}
}

.category-wrapper .category-bidrag,
.category-wrapper .category-grants {
	position: relative;
	.entry-header {
		@include span(100%);
		.entry-title {
			@include span(80% last);}
	}
	.entry-content,
	.entry-details,
	.entry-link {
	 	@include span(80% last);}
	.entry-startdate {
		@include span(19% first);
		position: absolute;
		left: 3%;}
}






/*
			@include with-layout(6 clean);
			.entry-title {
				@include span(5 of 6);}
			.start-date {
				@include span(1 of 6);}


*/  
  
/* More layout */


#{$image-boxes} {
	.entry-header {
	clear: both; }}

/*.home-featured .post,
.home-second-row .post {
	h3, .entry-meta {
		padding: 0 $box-padding;}}*/

.home-latest,
.home-featured .entry,
.home-second-row .entry,
.home-middle .widget {
	height: $box-height;}


.category-wrapper {
	.category-seminars,
	.category-seminarier {
			height: $seminar-box-height;}

	.category-utbildning,
	.category-bidrag,
	.category-education,
	.category-grants {
			height: $box-height;}
	
}	

.site-inner::after {
	clear: both;
}

.archive-wrapper,
.home-news,
.news-area {
	margin-bottom: 5em;}
	
.category-intro-text {
	margin-bottom: $box-gutter;}
	
	

/* Hide images on small screens */
@media only screen and (max-width: 640px) {

	.home-top img { /* .home-bottom */
		display: none;}

}


