// _typography.scss


/* Overrides */

.entry-title {
	font-size: inherit;
	line-height: 1em;}




body {
	color: $text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-font-line-height;}


/* Links */

a,
.entry-content a {
	background-color: inherit;
	color: $text-link-color;
	text-decoration: underline;}

.home-featured,
.home-second-row,
.home-latest,
.home-notices,
.home-middle,
.home-news,
.news-area,
.archive-wrapper {
	.post a {
		text-decoration: none;
		color: inherit; }
  a.featured-title {
    text-decoration: none;}}

a:hover,
.entry-title a:hover,
.sidebar-title a:hover,
.entry-content a:hover {
	color: $text-link-active-color;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: none; /* all 0.1s ease-in-out */
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
}



/* Navigation */

.nav-primary .genesis-nav-menu {
	line-height: $base-font-line-height*1;
	a {
		font-family: $heading-font-family;
		font-weight: normal;
		font-size:  $base-font-size*1.2;
		color:  $heading-color;
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: underline;
			color:  $heading-color; }}
	.current-menu-item > a {
		color:  $heading-color;
		font-weight: 900;}}




/* Titles */

.site-title,
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-tracking;
	margin: 0; }


.site-title a,
.site-title a:hover,
.entry-title a {
	background-color: inherit;
	color: $heading-color;
	text-decoration: none;
	font-weight: $heading-font-weight;
	font-size: $heading-base-size;
}

.site-header {
	.description {
		line-height: 2em;
		font-size: 1.4em;}
	.wrap {
		padding: 0; }}

.news-area,
.content,
.magazine-home .content {
	.widget-title {
		text-transform: none;
		background-color: transparent;
		color: $heading-color;
		padding: 0;
		margin-bottom: 15px;}}

.sidebar {
	.widget-title {
		text-transform: none;
		background-color: transparent;
		color: $heading-color;
		padding: 0;}}

.entry-footer {
	.widget-title {
		text-transform: none;
		background-color: transparent;
		color: $heading-color;
		padding: 0;}}

#{$text-boxes}{
	.widget-title {
		font-size: $list-widget-heading-font-size;
		font-weight: $list-heading-font-weight;}
	.entry-title a {
		line-height: $list-heading-line-height;
		font-size: $list-heading-font-size;
		font-family: $base-font-family;
		font-weight: $list-heading-font-weight;}}

#{$image-boxes} {
	.entry-title a {
		line-height: 1.2em;
		font-size: 1.7em;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight; }}

#{$news-boxes} {
	.widget_text_icl .widget-title,
	.widget_text .widget-title {
		line-height: 1em;
		font-weight: 900;
		font-size: $news-widget-font-size;
		margin-bottom: $box-gutter/2;
		color: $news-widget-color;}
	.entry-title a {
		line-height: 1em;
		font-size: $news-heading-font-size;
		font-family: $heading-font-family; }}

.archive-description, .author-box {
	margin: 0;
	padding: 0;}

.archive-title,
.category-title {
	line-height: 1em;
	font-weight: 900;
	font-size: $news-widget-font-size;
	margin-bottom: $box-gutter/2;
	color: $news-widget-color;}

.archive-pre-title {
	color: $c-gray-0;
	margin-bottom: 1em;}


.category-wrapper .category-kalendarium,
.category-wrapper .category-calendar,
.category-wrapper .category-notiser,
.category-wrapper .category-notices,
.category-wrapper .category-bidrag,
.category-wrapper .category-grants,
.single-wrapper .entry-header.category-details-box .box-inner {
	padding: $category-box-padding;
	.entry-title a {
		line-height: 1.2em;
		font-size: $heading-base-size;
		margin-bottom: .5em;}
	.entry-content {
		font-size: .9em;}
		.entry-contact,
		.entry-details {
		line-height: 1.2em;
		font-size: .9em;
		font-weight: 900;}
	.entry-contact .webb,
	.entry-contact .epost{
			margin-top: .3em;}
	.entry-online {
		font-weight: 900;}
}


.category-wrapper .category-notiser,
.category-wrapper .category-notices {
	.entry-title a {
		line-height: 1.2em;
		font-size: $heading-base-size*1.2;
		font-weight: 900;
		margin-bottom: .5em;}
	.entry-content {
		font-size: 1.1em;
		line-height: 1.4em;}
}


.category-wrapper .category-bidrag,
.category-wrapper .category-grants,
.category-wrapper .category-kalendarium,
.category-wrapper .category-calendar,
.single-wrapper .entry-header.category-details-box .box-inner {
	.entry-title {
		margin-bottom: 0!important;}
	.entry-startdate {
		text-align: center;
		font-weight: 900;
		text-transform: uppercase;
		font-family: $heading-font-family;
		.day {
			margin-left: .05em;
			line-height: 1.2em;
			font-size: $heading-base-size*1.55;}
		.month {
			font-size: $heading-base-size*.75;}
		.year {
			font-size: $heading-base-size*.7;
			font-weight: normal;}
	}
}

.category-wrapper .category-notiser,
.category-wrapper .category-notices {
	.entry-title {
		font-weight: 900;
/*		margin-bottom: 0!important;*/}
	.entry-deadline {
		font-weight: 900;
		margin-bottom: .5em;
		.label {
			font-weight: normal;}
	}
}

.content-sidebar-wrap,
.single-wrapper {
	h1.entry-title {
		font-weight: $heading-title-font-weight;
		font-size: 2.6em;
		margin-bottom: 0;
		color: $heading-color;}}

.single-wrapper	.entry-content {

	h2 {
		font-weight: 900;
		font-size: $heading-base-size*1.1;}
	h3 {
		font-weight: 900;
		font-family: $base-font-family;
		margin-top: .8em;}
	p,
	h3,
	ol,	ul,
	.gform_confirmation_message,
  .gform_description {
		font-size: $base-font-size*1.215;
		line-height: 1.7em;}}

.sidebar aside {
	h2 {
		line-height: 1.2em;
		font-size: $list-widget-heading-font-size*1;
		font-family: $heading-font-family;
		font-weight: normal;
		margin-bottom: 1em;}
	.widget-wrap,
	.sidebar-content {
		p {
			margin-bottom: 1em;	}
	}
}

.category-wrapper .category-notiser,
.category-wrapper .category-notices,
.category-wrapper .category-bidrag,
.category-wrapper .category-kalendarium,
.category-wrapper .category-grants,
.category-wrapper .category-calendar,
.single-wrapper .entry-header.category-details-box .box-inner {
	.entry-startdate,
	.entry-deadline {
		&.month1 {color: $category-month-color1;}
		&.month2 {color: $category-month-color2;}
		&.month3 {color: $category-month-color3;}
		&.month4 {color: $category-month-color4;}
		&.month5 {color: $category-month-color5;}
		&.month6 {color: $category-month-color6;}
		&.month7 {color: $category-month-color7;}
		&.month8 {color: $category-month-color8;}
		&.month9 {color: $category-month-color9;}
		&.month10 {color: $category-month-color10;}
		&.month11 {color: $category-month-color11;}
		&.month12 {color: $category-month-color12;}
	}
}


/* Meta */

.home-middle,
.home-news,
.news-area,
.archive-wrapper,
.category-wrapper,
.single-wrapper .entry-header {
	.entry-meta,
	.entry-details .label,
	.entry-contact .label,
	.entry-time {
		margin-top: 1em;
		font-size: .9em;
		text-transform: uppercase;
		font-weight: normal;
		color: $c-gray-0;}}

.home-latest,
.home-notices {
	.entry-meta {
		margin-top: 0;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: bold;
		color: $c-gray-0;}}

.home-featured,
.home-second-row {
	.entry-meta {
		margin-top: .2em;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: normal;
		color: $c-gray-0;}}

.home-news {
	.entry-meta {
		margin-top: .2em;
		font-size: 1em;
		text-transform: uppercase;
		color: $c-gray-0;}}

.single-wrapper {
	.entry-header .entry-meta {
			margin-top: .7em;
			margin-bottom: 2em;}}
