
/* admin-customization.css */


/***************************************
 * Custom Fields
 */
.acf_postbox {
	background: #eefee6;
	border: 1px solid #eee;}
.acf_postbox > .hndle {
	background: #d0FEd0;}
.acf_postbox > .inside > .field {
	background: #eefee6;
	border-top: 1px solid rgba(0,0,0,0.08);}

/***************************************
 * Category Box Cleanup
 */
#category-tabs,
#genesis-category-checklist-toggle,
#category-adder {
	display: none;
}

/***************************************
 * Post List 
 */


/*seminarier*/
.wp-list-table.posts tr.category-seminarier:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-seminars:nth-child(even)>:first-child {
  background-color: #E8FFE0 !important;}
.wp-list-table.posts tr.category-seminarier:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-seminars:nth-child(odd)>:first-child {
  background-color: #D6FFC9 !important;}
  
/*utbildning*/
.wp-list-table.posts tr.category-utbildning:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-education:nth-child(even)>:first-child {
  background-color: #E8FFE0 !important;}
.wp-list-table.posts tr.category-utbildning:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-education:nth-child(odd)>:first-child {
  background-color: #D6FFC9 !important;}
  
/*bidrag*/
.wp-list-table.posts tr.category-bidrag:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-grants:nth-child(even)>:first-child {
  background-color: #E8FFE0 !important;}
.wp-list-table.posts tr.category-bidrag:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-grants:nth-child(odd)>:first-child {
  background-color: #D6FFC9 !important;}    

/*meddelande*/
.wp-list-table.posts tr.category-meddelande:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-announcement:nth-child(even)>:first-child {
  background-color: #FFF8D1 !important;}
.wp-list-table.posts tr.category-meddelande:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-announcement:nth-child(odd)>:first-child {
  background-color: #FFF5BA !important;}

/*nyhet*/
/*
.wp-list-table.posts tr.category-nyhet:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-news:nth-child(even)>:first-child {
  background-color: #DDE8FF !important;}
.wp-list-table.posts tr.category-nyhet:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-news:nth-child(odd)>:first-child {
  background-color: #CCDCFF !important;}
*/
/*toppnyhet*/
.wp-list-table.posts tr.category-toppnyhet:nth-child(even)>:first-child,
.wp-list-table.posts tr.category-top-news:nth-child(even)>:first-child {
  background-color: #FFE5DD !important;} /*ljus*/
.wp-list-table.posts tr.category-toppnyhet:nth-child(odd)>:first-child,
.wp-list-table.posts tr.category-top-news:nth-child(odd)>:first-child {
  background-color: #FFD7CC !important;} /*mörk*/
  